# Environment Variables
# Copy this file to .env and fill in the values

VITE_RPC_URL=https://rpc-amoy.polygon.technology

VITE_USDC_ADDRESS=
VITE_ORACLE_ADDRESS=
VITE_CONDITIONAL_TOKEN=
VITE_CTF_EXCHANGE=

VITE_MAGIC_API_KEY=
VITE_REDIRECT_URL=http://localhost:5173/ #chnage it to your frontend url 
VITE_API_BASE_URL_SECOND=


VITE_API_ID=
VITE_MESSAGING_SENDER_ID=
VITE_MESSAGING_SENDER_ID=
VITE_PROJECT_ID=
VITE_AUTH_DOMAIN=
VITE_FIREBASE_API_KEY=
VITE_VAPID_KEY=
NODE_ENV=
VITE_SOCKET_URL=